* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.headerContainer {
	max-width: 1700px;
	margin: 0 auto;
}

ul, li {
	list-style: none;
}

.goal {
	padding: 15px;
	text-indent: 2vw;
	transition: 0.3s all;
	cursor: pointer;
	position: relative;
}

.goal:hover {
	text-shadow: #04da6f 1px 0 5px;
}

.goal::after {
	content: "";
	color: #04da6f;
	position: absolute;
	right: 0;
	bottom: -15px;
	height: 100%;
	max-width: fit-content;
	transition: 0.3s all;
}

.goal:hover::after {
	content: "\2714";
}

.h2 {
	text-align: center;
	font-size: 35px;
	color: #333;
	font-weight: 700;
}

.ol {
	counter-reset: myCounter;
	padding: 15px;
}

.li {
	margin-bottom: 10px;
	transition: 0.3s all;
	cursor: pointer;
	position: relative;
}

.li:hover {
	text-shadow: #04da6f 1px 0 5px;
}

.li::before {
	counter-increment: myCounter;
	content: counter(myCounter) ")";
	display: inline-block;
	margin-right: 10px;
	transition: 0.3s all;
}

.li:hover::before {
	color: #08c064;
	text-shadow: none;
}

.li::after {
	content: "";
	color: #04da6f;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	max-width: fit-content;
	transition: 0.3s all;
}

.li:hover::after {
	content: "\2714";
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
}

.img {
	width: 250px;
	position: relative;
	height: 130px;
	margin: 15px;
}

.img img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f7f8fc;
}
